body {
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.container {
    background: #fff;
    padding: 1rem 4rem;
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 18rem;
    background-color: #5879a0;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #f8f0f0;
}

input,
select {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: 0.0625rem solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;

}

input:focus,
select:focus {
    outline: none;
    border-color: #0077ff;
    box-shadow: 0 0 0.25rem rgba(0, 119, 255, 0.3);
}

#result {
    font-weight: bold;
    font-size: 1rem;
    color: #255187;
    margin-top: 1rem;
}

#convertBtn {
    background-color: #285282;
    padding: 0.8rem 3rem;
    border-radius: 1rem;
    margin: 1rem;
    border: none;
    color: #f8f0f0;

}

p {
    color: #f8f0f0;
}